* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.image {
    max-width: 60%;
    max-height: 90vh;
    padding-bottom: 2%;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f2ae3926;
}

.image {
    max-width: 60%;
    max-height: 95vh;
    padding-bottom: 2%;
}

.arrow {
    width: 50%;
    height: 10%;
}

.slider-btn {
    background-color: #f2ae3936;
}